$white:#ffff;
$black:black;
$green: green;
$gains:gainsboro;
$brown:#8A5D5A;
$gray:gray;
$tomato:tomato;
$span:#616161;
$grey:#6C7B82;
$max:100px;
$main:64px;
$sub:45px;
$small:36px;
$smaller:28px;
$default:24px;
