.menu-box{
    background: black;
    text-align: center;
    padding-bottom: 120px;
    @mdeia(min-width:320px) and (max-width:576.98px){

    }
    @mdeia(min-width:577px) and (max-width:768.98px){
        
    }
    @mdeia(min-width:769px) and (max-width:992.98px){
        
    }
    @mdeia(min-width:993px) and (max-width:1200.98px){
        
    }
    h1{
        font-size: 64px;
        font-weight: 100;
        padding: 80px 0;
        color: white;
        @mdeia(min-width:320px) and (max-width:576.98px){

        }
        @mdeia(min-width:577px) and (max-width:768.98px){
            
        }
        @mdeia(min-width:769px) and (max-width:992.98px){
            
        }
        @mdeia(min-width:993px) and (max-width:1200.98px){
            
        }
    }
    .inner-menu{
        width: 980px;
        background: white;
        margin: 0 auto;        
        border: 1px solid gray;
        @mdeia(min-width:320px) and (max-width:576.98px){

        }
        @mdeia(min-width:577px) and (max-width:768.98px){
            
        }
        @mdeia(min-width:769px) and (max-width:992.98px){
            
        }
        @mdeia(min-width:993px) and (max-width:1200.98px){
            
        }
        .menu-bar{
            display: flex;
            flex-wrap: wrap;
            background:black;
            a{
                width:33.333%;
                padding: 10px 0;
                font-size: 36px;
                color: white;
                text-decoration: none;
                @mdeia(min-width:320px) and (max-width:576.98px){

                }
                @mdeia(min-width:577px) and (max-width:768.98px){
                    
                }
                @mdeia(min-width:769px) and (max-width:992.98px){
                    
                }
                @mdeia(min-width:993px) and (max-width:1200.98px){
                    
                }
                &:hover{
                    background: tomato;
                }
            }
        }
        
        .Toppings{
            .margerita{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 10px;
                h2{
                    color:black;
                    font-size: 28px;
                    margin-bottom: 30px;
                    @mdeia(min-width:320px) and (max-width:576.98px){

                    }
                    @mdeia(min-width:577px) and (max-width:768.98px){
                        
                    }
                    @mdeia(min-width:769px) and (max-width:992.98px){
                        
                    }
                    @mdeia(min-width:993px) and (max-width:1200.98px){
                        
                    }
                }
                span{
                    background: #616161;
                    color: white;
                    padding: 10px;
                    height: 20px;
                }
            }
            p{
                text-align: left;
                margin-left: 10px;
                border-bottom: 1px solid gray;
                padding-bottom: 25px;
                opacity: 40%;
                font-size: 24px;
                margin-bottom: 20px;
                @mdeia(min-width:320px) and (max-width:576.98px){

                }
                @mdeia(min-width:577px) and (max-width:768.98px){
                    
                }
                @mdeia(min-width:769px) and (max-width:992.98px){
                    
                }
                @mdeia(min-width:993px) and (max-width:1200.98px){
                    
                }
            }
        }
    }
}

.about-box{
    background: #8A5D5A;
    .inner-about{
        width: 980px;
        margin: 0 auto;
        h1{
            font-size: 64px;
            color: white;
            font-weight: 100;
            text-align: center;
            padding:70px 0;

        }
        p{
            font-size:24px;
            color: white;
            padding: 20px 0;
        }
        .about-chef{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .italiano{

            }            
            img{
                width: 150px;
                border-radius: 50%;
                margin: 25px 0;
            }
        }
        img{
            width: 100%;
            margin: 20px 0;
        } 
        .timing{
            margin-bottom: 15px;
            h2{
                color: white;
                font-size:28px;
            }
            .weekdays{
                display:flex;
                flex-wrap: wrap;
                p{
                    font-size: 22px;
                    padding: 15px 0;
                }
                .friday{
                    padding-left: 250px;
                }
                .saturday{
                    padding-left: 202px;
                }
                .sunday{
                    padding-left: 226px;
                }
            }
        }   
    }
}

