footer{
    background: black;
    color: white;
    height: 220px;
    @mdeia(min-width:320px) and (max-width:576.98px){

    }
    @mdeia(min-width:577px) and (max-width:768.98px){
        
    }
    @mdeia(min-width:769px) and (max-width:992.98px){
        
    }
    @mdeia(min-width:993px) and (max-width:1200.98px){
        
    }
    p{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 28px;
        @mdeia(min-width:320px) and (max-width:576.98px){

        }
        @mdeia(min-width:577px) and (max-width:768.98px){
            
        }
        @mdeia(min-width:769px) and (max-width:992.98px){
            
        }
        @mdeia(min-width:993px) and (max-width:1200.98px){
            
        }
        a{
            color: white;
            margin-left: 15px;
            @mdeia(min-width:320px) and (max-width:576.98px){

            }
            @mdeia(min-width:577px) and (max-width:768.98px){
                
            }
            @mdeia(min-width:769px) and (max-width:992.98px){
                
            }
            @mdeia(min-width:993px) and (max-width:1200.98px){
                
            }
            &:hover{
                color: green;
            }
        }
    }
}