@import"../0-variable/variable";
footer{
    background:$black;
    color: $white;
    height: 220px;
    @media(min-width:320px) and (max-width:576.98px){
        background:$black;
        color: $white;
        height: 220px;
    }
    @media(min-width:577px) and (max-width:768.98px){
        background:$black;
        color: $white;
        height: 220px;
    }
    @media(min-width:769px) and (max-width:992.98px){
        background:$black;
        color: $white;
        height: 220px;
    }
    @media(min-width:993px) and (max-width:1200.98px){
        background:$black;
        color: $white;
        height: 220px;
    }
    p{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: $small;
        @media(min-width:320px) and (max-width:576.98px){
            font-size: $small;
        }
        @media(min-width:577px) and (max-width:768.98px){
            font-size: $small;
        }
        @media(min-width:769px) and (max-width:992.98px){
            font-size: $small;
        }
        @media(min-width:993px) and (max-width:1200.98px){
            font-size: $small;
        }
        a{
            color: $white;
            margin-left: 15px;
            @media(min-width:320px) and (max-width:576.98px){

            }
            @media(min-width:577px) and (max-width:768.98px){
                
            }
            @media(min-width:769px) and (max-width:992.98px){
                
            }
            @media(min-width:993px) and (max-width:1200.98px){
                
            }
            &:hover{
                color: green;
            }
        }
    }
}