@import"../0-variable/variable";
nav{
    background: $black;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    opacity: 60%;
    &:hover{
       opacity: 100%;
    }
    .main_menu{
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        .menu-option{
            list-style: none;
            font-size: $default;      
            @media(min-width:320px) and (max-width:576.98px){
                font-size: $default; 
            }
            @media(min-width:577px) and (max-width:768.98px){
                font-size: $default; 
            }
            @media(min-width:769px) and (max-width:992.98px){
                font-size: $default; 
            }
            @media(min-width:993px) and (max-width:1200.98px){
                font-size: $default; 
            }
            a{
                color: $white;
                text-decoration: none;
                padding: 10px;
                &:hover{
                    background:$gains;
                    color: $black;
                    padding: 10px;
                }
            }
        }
        .hide{
            @media(min-width:320px) and (max-width:576.98px){
                display: none;
            }
            @media(min-width:577px) and (max-width:768.98px){
                display: none;
            }
            @media(min-width:769px) and (max-width:992.98px){
                display: none;
            }
            @media(min-width:993px) and (max-width:1200.98px){
                display: block;
            }
        }
    }
    .fa-bars{
        color: $white;
        font-size: $default;
        line-height: 1.2;
        margin-right: 20px;
        padding: 10px;
        display: none;       
        @media(min-width:320px) and (max-width:576.98px){
            display: block;
            &:hover{
                background: $gains;
                color: $black;
            }
        }    
        @media(min-width:577px) and (max-width:768.98px){
            display: block;
            &:hover{
                background: $gains;
                color: $black;
            }
        }
        @media(min-width:769px) and (max-width:992.98px){
            display: block;
            &:hover{
                background: $gains;
                color: $black;
            }
        }
        @media(min-width:993px) and (max-width:1200.98px){
        
        }
    }
}

