nav{
    background: black;
    display:flex;
    flex-wrap: wrap;
    height: 60px;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    opacity: 60%;
    &:hover{
       opacity: 100%;
    }
    .main_menu{
        display: flex;
        flex-wrap: wrap;
        .menu-option{
            list-style: none;
            font-size: 24px;
            margin-left: 10px;
            @mdeia(min-width:320px) and (max-width:576.98px){

            }
            @mdeia(min-width:577px) and (max-width:768.98px){
                
            }
            @mdeia(min-width:769px) and (max-width:992.98px){
                
            }
            @mdeia(min-width:993px) and (max-width:1200.98px){
                
            }
            a{
                color: white;
                text-decoration: none;
            }
        }
        .dropdown{
            display: none;
        }
        .abc{
            &:hover{
                .dropdown{
                    display: block;
                    position: absolute;
                }
            }
        }
    }
}

